.cart{
    padding: 2rem 4rem;
    @include flex(row,stretch,space-between,4rem);
    height: calc(100vh - 4rem);
    >main{
        width: 70%;
        overflow-y: auto;
        >h1{
            @include heading(2px);
            text-align: center;
        }

        
        &::-webkit-scrollbar{
            display: none;
        }
    }
    >aside{
        width: 30%;
        padding:4rem;
        @include flex(column,center,stretch,1.5rem);
        >input{
            padding: 1rem;
            border: 1px solid black;
            outline: none;
            border-radius:5px;
            margin-top:1rem;
            }
            >p{
                font-size: 1.1rem;
                >em{
                    color: red;
                }

            }
            >a{
                @include button(none,5px,blue,none);
                padding:1rem;
                text-decoration: none;
                @include flex;
                text-transform: uppercase;
                letter-spacing: 2px;
                &:hover{
                    opacity: 0.8rem;
                }
                >span{
                    margin-top: -1rem;
                    @include flex(row,center,center,4px);
                    >code{
                        font-weight: 900;
                        align-self: flex-end;
                    }
                }
            }
    }
}

.cartItem{
    padding: 2rem;
    @include flex(row,flex-start,center,3rem);
    >img{
        @include square(10rem);
        object-fit: display;
    }
    >article{
        @include flex(column,center,flex-start,0.25rem);
        a{
            font-size: 1.2rem;
            color: gray;
            &:hover{
                color:lightblue;
            }
        }
        >span{
            font-weight: 700;
        }
    }
    >div{
        margin-left: auto;
        @include flex;
        button{
            @include button(none,5px,blue,pointer);
            @include flex;
            @include square(2rem);
            font-size:1.2rem;
            &:hover{
                background-color: gray;
                color: cyan;
            }
        }
    }

    >button{
        @include button(none,none,blue,pointer);
        background-color: transparent;
        @include flex;
        font-size: 1.2rem;
        &:hover{
            color: red;
        }
    }
    
}